{% extends 'layouts/page.html' %}

{% set activePage = 'details' %}

{% block pageContent %}
  <div class="max-w-400">
    <article class="mb-48">
      <h2 class="hd-36 mb-8">
        when
      </h2>
      <p>
        <time datetime="06-15-2019">
          June 15, 2019<br>
          5 p.m.
        </time>
      </p>
    </article>

    <article class="text mb-48">
      <h2 class="hd-36 mb-8">
        where
      </h2>
      <p>
        <a href="https://addysea.com/" target="_blank">
          The Addy Sea
        </a><br>
        99 Ocean View Parkway<br>
        Bethany Beach, DE 19930
      </p>
    </article>

    <article class="mb-48">
      <h2 class="hd-36 mb-8">
        what to wear
      </h2>
      <p>
        Semi-Formal.
      </p>
      <p>
        The ceremony and reception will be held outdoors on the lawn, which is oceanfront with beach access. Please wear shoes you'll be comfortable in!
      </p>
    </article>

    <article>
      <h2 class="hd-36 mb-8">
        wedding party
      </h2>
      <div class="grid">
        <div class="grid-item w-1/2">
          <div class="mb-24">
            <p class="font-bold pb-8 mb-8 border-gray-300 border-b-2">
              Maid of Honor
            </p>
            Ashley Tran
          </div>
          <p class="font-bold pb-8 mb-8 border-gray-300 border-b-2">
            Bridesmaids
          </p>
          <ul>
            <li>Maria Binger</li>
            <li>Melissa Garcia</li>
            <li>Katy Lang</li>
            <li>Kristen Sabatini</li>
            <li>Nikkita Sarna</li>
          </ul>
        </div>

        <div class="grid-item w-1/2">
          <div class="mb-24">
            <p class="font-bold pb-8 mb-8 border-gray-300 border-b-2">
              Best Man
            </p>
            Michael McClain
          </div>
          <p class="font-bold pb-8 mb-8 border-gray-300 border-b-2">
            Groomsmen
          </p>
          <ul>
            <li>Matthew Chu</li>
            <li>Abraham Murrell</li>
            <li>Jeffrey Tran</li>
            <li>Alex Wiese</li>
          </ul>
        </div>
    </article>
  </div>
{% endblock %}

