{% extends 'layouts/page.html' %}

{% set activePage = 'lodging' %}

{% block pageContent %}
  <div class="max-w-400">
    <article class="mb-48 text">
      <h2 class="hd-36 mb-8">
        hotel block
      </h2>
      <p>
        We have reserved a room block at
        <a href="https://www.hiexpress.com/redirect?path=hd&brandCode=EX&localeCode=en&regionCode=1&hotelCode=BHNDE&_PMID=99801505&GPC=KWP&viewfullsite=true" target="_blank">
          The Holiday Inn Express in Bethany Beach
        </a>.
      </p>
      <p>
        The hotel is situated a 5-minute drive from the venue;
        a 6-minute walk from the beach; and a 10-minute walk from the boardwalk.
      </p>
      <p>
        For a discounted stay on Friday, June 14 and/or Saturday, June 15, call
        <a href="tel:13025419200">
          1-302-541-9200
        </a>
        and mention the <span class="italic">Kohn Wedding</span> or use
        <a href="https://www.hiexpress.com/redirect?path=hd&brandCode=EX&localeCode=en&regionCode=1&hotelCode=BHNDE&_PMID=99801505&GPC=KWP&viewfullsite=true" target="_blank">
          this booking link
        </a>.
        <strong class="font-bold">
          You must book by May 10 to recieve the discount.
        </strong>
      </p>
    </article>

    <article class="text">
      <h2 class="hd-36 mb-8">
        other options
      </h2>
      <p>
        <a href="https://www.marriott.com/hotels/maps/travel/rehri-bethany-beach-ocean-suites-residence-inn/">
          Bethany Beach Ocean Suites Residence Inn
        </a> is situated on the boardwalk.
      </p>
      <p>
        As a beach town, there are plenty of vacation homes available! Check
        <a href="https://www.airbnb.com/a/Bethany-Beach--United-States" target="_blank">Airbnb</a>,
        <a href="https://www.vrbo.com/vacation-rentals/usa/delaware/bethany-beach" target="_blank">VRBO</a>,
        <a href="https://lfvacations.com/vacation-rentals/delaware/bethany-beach" target="_blank">Long & Foster</a>,
        or your preference for options.
      </p>
    </article>
  </div>
{% endblock %}

