{% extends 'layouts/page.html' %}

{% set activePage = 'misc' %}
{% set photo = 'photo-5' %}

{% block pageContent %}
  <div class="px-16">
    <article class="mb-64 text">
      <div class="flex justify-center">
        <h2 class="font-serif text-24 leading-none mb-16 pb-8 border-b-2 border-green-300">
          activities
        </h2>
      </div>

      <ul>
        <li>Our favorite thing to do: soak up the sun all day on the beach (Rehoboth, Bethany, Lewes, Dewey, DE state park)</li>
        <li>
          Morning yoga & pilates classes on the beach.
          <a href="http://de-bethanybeach2.civicplus.com/383/Summer-Exercise-Classes" target="_blank">Schedule.</a>
          (Bethany)
        </li>
        <li>
          Kayak, SUP, fish, swim, hike, bike at
          <a href="https://destateparks.com/Beaches/DelawareSeashore" target="_blank">Delaware State Park</a>
          about a 30 min drive from the beach. $10 fee per car.
        </li>
        <li>
          <a href="http://www.seashellshop.com/index.cfm?fuseaction=content.map&mapTypeID=3" target="_blank">Shell We Golf?</a>
          Mini golf, ice cream, gift store and free samples of fudge. (Rehoboth)
        </li>
        <li>
          The sea dragon ride at
          <a href="https://www.funlandrehoboth.com/" target="_blank">Funland</a>,
          the best $2 you’ll ever spend (Rehoboth)
        </li>
      </ul>
    </article>

    <article class="mb-64 text">
      <div class="flex justify-center">
        <h2 class="font-serif text-24 leading-none mb-16 pb-8 border-b-2 border-green-300">
          dining
        </h2>
      </div>

      <ul>
        <li>
          <a href="https://bonjourfable.com/menu" target="_blank">La Fable</a>
          is the restaurant we dined at after Greg proposed. It’s walkable from the Rehoboth boardwalk. Make a reservation, as the space is small and they get really busy during beach season. (Rehoboth)
        </li>
        <li>
          BlueCoast has great seafood and drinks. They are part of a larger restaurant group that has
          <a href="https://www.bluecoastrehoboth.com/our-restaurants" target="_blank">locations</a>
          throughout the area’s beaches.
        </li>
        <li>
          This is one of the spots we checked out for our wedding!
          <a href="https://www.bigchillbeachclub.com/" target="_blank">Big Chill Beach Club</a>
          is a scenic, cool place to eat, drink and hang out. (Bethany)
        </li>
        <li>
          Hit up the bars and restaurants in
          <a href="https://www.visitdelaware.com/beaches/dewey-beach/restaurants/" target="_blank">Dewey</a>
        </li>
      </ul>
    </article>

    <article class="mb-64 text">
      <div class="flex justify-center">
        <h2 class="font-serif text-24 leading-none mb-16 pb-8 border-b-2 border-green-300">
          shopping
        </h2>
      </div>

      <ul>
        <li>
          Shop tax-free at
          <a href="https://www.tangeroutlet.com/rehoboth/maps#/" target="_blank">Tanger outlets</a>.
          There are three locations on either side of Highway 1: Seaside, Bayside and Surfside.(Rehoboth)
        </li>
      </ul>
    </article>


    <article class="text">
      <div class="flex justify-center">
        <h2 class="font-serif text-24 leading-none mb-16 pb-8 border-b-2 border-green-300">
          other
        </h2>
      </div>

      <ul>
        <li>
          If you have some time, take a free tour of the
          <a href="https://www.dogfish.com/visit" target="_blank">Dogfish Head brewery</a>,
          a 40-minute drive away in Milton. If not, they have a
          <a href="https://www.dogfish.com/restaurants/brewpub" target="_blank">couple restaurants</a>
          at Rehoboth. (Milton, Rehoboth)
        </li>
        <li>
          Check out the
          <a href="https://www.visitdelaware.com/beaches/bethany-beach/things-to-do/" target="_blank">Visit Delaware site</a>
          for various recommendations at all the nearby beaches.
        </li>
      </ul>
    </article>
  </div>
{% endblock %}
