{% extends 'layouts/page.html' %}

{% set activePage = 'registry' %}

{% block pageContent %}
  <div class="text-center">
    <article class="text">
      {# <div class="flex justify-center">
        <h2 class="font-serif text-24 leading-none mb-16 pb-8 border-b-2 border-green-300">
          amazon
        </h2>
      </div> #}
      <p>
        We are registered on
        <a href="https://www.amazon.com/wedding/share/michelleandgreg" target="_blank">
          Amazon
        </a>.
      </p>
    </article>
  </div>
{% endblock %}

