{% extends 'layouts/page.html' %}

{% set activePage = 'transportation' %}

{% block pageContent %}
  <div class="max-w-400">
    <article class="text">
      <h2 class="hd-36 mb-8">
        Transportation
      </h2>
      <p>
        The crowded beach season will have kicked off in June, so driving to the shore and parking may take a little longer than usual! The wedding venue itself is limited to metered street parking, so we recommend using Uber, Lyft or taxi services if you are not staying within walking distance.
      </p>
    </article>
  </div>
{% endblock %}

