{% set activePage = activePage | default(null) %}

{% set upperLinks = ['details', 'lodging', 'registry'] %}
{% set lowerLinks = ['rsvp', 'gallery', 'misc'] %}

<section class="nav-links sm:flex flex-col flex-no-shrink justify-center sm:min-h-screen px-12 sm:py-24 sm:px-72 text-black text-center">
  <nav class="smd:mb-24">
    <ul>
      {% for link in upperLinks %}
        {% set isActive = link == activePage %}
        <li class="nav-link {{ 'mb-24' if not loop.last }} {{ '-is-active' if isActive }}">
          <a href="{{ link }}.html">
            {{ link }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <a href="/" class="block my-48 text-64 smd:hidden">
    M & G
  </a>

  <nav>
    <ul>
      {% for link in lowerLinks %}
        {% set isActive = link == activePage %}
        <li class="nav-link mb-24 {{ '-is-active' if isActive }}">
          <a href="{{ link }}.html">
            {{ link }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>
