{% extends 'layouts/app.html' %}

{% set activePage = activePage | default(null) %}
{% set photo = photo | default(null) %}

{% block content %}
  {# <div class="border-t-20 border-green-100 mb-32"></div> #}
  <main class="max-w-960 mx-auto">
    <div class="sm:flex -mx-32">
      <section class="sm:w-1/2 px-32 smd:mb-64">
        {% if activePage %}
          <h1 class="font-serif text-48 text-black mb-12 capitalize text-center">
            {{ activePage }}
          </h1>
        {% endif %}
        {% block pageContent %}{% endblock %}
      </section>

      {% if photo %}
        <section class="sm:w-1/2 px-32">
          <img src="images/pages/{{ photo }}" alt="">
        </section>
      {% endif %}
    </div>
  </main>
{% endblock %}
